section{
    margin-top:80px;
}
h3{
   
}

body{
  background-color:#323232 !important;
  color:white !important;
  font-family:Arial;
}

.color{
  background-color:#323232;
 
}


.fixed-column{
  background-color: #323232 !important; 
  color: white !important;
}

.table_color{
  background-color: #323232 !important; 
  color: white !important;
}

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.main_page{
    margin-top:80px;
    

  }

.navbar-brand{
  font-family: 'Poppins';
  
}
  .test{
    font-size:10px;
  }

table{
 
    justify-content: center;
    
}